<div class="container text-center">
  <div class="card shadow-sm">
    <div class="card-header">
      <a class="index" href="/user/<%=current_user.id %>">User n° <%= current_user.id %></a>
    </div>
    <div class= "card-body">
      <%= form_with url: user_path(current_user.id), method: :patch, local: true do |form| %>
        <%#La méthode form_with appelle implicitement la méthode post, local true est nécessaire pour rails 5.2 et 6.0%>
        <p>Email</p>
        <%= form.text_field :email, value: @user.email %>
        <br>
        <p>First name</p>
        <%= form.text_field :first_name, value: @user.first_name %>
        <br>
        <p>Last name</p>
        <%= form.text_field :last_name, value: @user.last_name %>
        <br>
        <p>Last name</p>
        <%= form.text_field :description, value: @user.description %>
        <br>
        <%= form.submit "Publish" %>
      <% end %>
      <br>
      <%= link_to "Click here to change your password", edit_user_password_path %>
    </div>
  </div>
</div>