<div class="container d-flex justify-content-center text-center">
  <div class="card shadow-sm w-50 text-bg-light">
    <div class="card-header">
      <h4 class="index" href="/user/<%=current_user.id %>">User n° <%= current_user.id %></h4>
    </div>
    <div class= "card-body">
      <%= form_with url: profile_path, multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "mettre à jour" %>
      <% end %>
      <%= form_with url: profile_path, method: :post, local: true do |form| %>
        <p>First name</p>
        <p><%= form.text_field :first_name, value: @user.first_name %></p>
        <p>Last name</p>
        <p><%= form.text_field :last_name, value: @user.last_name %></p>
        <p>Description</p>
        <p><%= form.text_field :description, value: @user.description %></p>
        <p><%= form.submit "Accept" %></p>
      <% end %>
      <br>
      <%= link_to "Click here to change your password", edit_user_registration_path %>
    </div>
  </div>
</div>
