<div class="container d-flex justify-content-center text-center">
  <div class="card shadow-sm w-50 text-bg-light">
    <div class="card-header">
      <h4>Profile</h4>
    </div>
    <div class= "card-body">
      <p>First name: <br>
        <%= current_user.first_name %>
      </p>
      <%# <br> %>
      <p>Last name: <br>
        <%= current_user.last_name %>
      </p>
      <%# <br> %>
      <p>User creation: <br>
        <%= current_user.created_at %>
      </p>
      <%# <br> %>
      <p>Description: <br>
        <%= current_user.description %>
      </p>
      <%# <br> %>
      <p>Email: <br>
        <%= current_user.email %>
      </p>
      <%# <br> %>
    </div>
    <p>Do you want to edit your profile?</p>
    <div><%= link_to "Click here", profile_edit_path %></div>
  </div>
</div>
