<div class="container text-center">
  <div class="card shadow-sm">
    <div class="card-header">
      <a class="index" href="/user/<%=current_user.id %>">User n° <%= current_user.id %></a>
    </div>
    <div class= "card-body">
      <p>First name: <br>
        <%= current_user.first_name %>
      </p>
      <%# <br> %>
      <p>Last name: <br>
        <%= current_user.last_name %>
      </p>
      <%# <br> %>
      <p>User creation: <br>
        <%= current_user.created_at %>
      </p>
      <%# <br> %>
      <p>Description: <br>
        <%= current_user.description %>
      </p>
      <%# <br> %>
      <p>Email: <br>
        <%= current_user.email %>
      </p>
      <%# <br> %>
    </div>
    <p>Do you want to edit your profile?</p>
    <div><%= link_to "Click here", edit_user_path(current_user.id) %></div>
  </div>
</div>
