<div class="container text-center">
  <div class="card shadow-sm">
    <div class="card-header">
      <p> <%= @event.title%></p>
    </div>
    <div class= "card-body">
      <span class="font-bold">Description:      </span><br><%= @event.description %><br>
      <br>
      <span class="font-bold">Number of attendees:      </span><%= @count %><br>
      <br>
      <span class="font-bold">Created by:      </span><%= @event.admin.first_name %><br>
      <br>
      <span class="font-bold">Date:      </span><%= @event.start_date %> to <%= @event.start_date + @event.duration * 60%>
      <br>
      <span class="font-bold">Location:      </span><%= @event.location %>
      <br>
      <span class="font-bold">Price:      </span><%= @event.price %>$
    </div>
  </div>
</div>
      