<div class="container d-flex justify-content-center text-center">
  <div class="card shadow-sm w-50 text-bg-light" style="width: 18rem;">
    <img src="https://source.unsplash.com/1000x500/?" class="card-img-top" alt="Picture">
    <div class="card-body">
      <h5 class="card-title fw-bold"><%= @event.title%></h5>
      <br>
      <span class="fw-bold">Description:      </span>
      <p><br>
        <%= @event.description %></p>
      <span class="fw-bold">Number of attendees:      </span>
      <p class="card-text"><%= @count %></p>
      <span class="fw-bold">Created by:      </span>
      <p class="card-text"><%= @event.admin.email %></p>
      <span class="fw-bold">Date:      </span>
      <p class="card-text"><%= @event.start_date %> to <%= @event.start_date + @event.duration * 60%></p>
      <span class="fw-bold">Location:      </span>
      <p class="card-text"><%= @event.location %></p>
      <span class="fw-bold">Price:      </span>
      <p class="card-text"><%= @event.price %></p>
      <% if @attendance_possible %>
          <br>
          <%= link_to "Attend this event", new_event_attendance_path(@event.id), class: "btn btn-lg btn-primary" %>
      <% end %>
      <% if @event.admin.id == current_user.id %>
          <br>
          <%= link_to "Show attendees", event_attendance_path(@event.id), class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
